body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  perspective: 1000px;
  background-color: #2f4c90;
  align-items: center;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  color: aliceblue;
  margin-bottom: -10px;
}

h2 {
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  color: aliceblue;
}

mark {
    background-color: rgba(52, 152, 219, 0);
    color: #ffffff;
}

.mark-transition {
  background-color: #3498db;
  color: #ffffff;
  transition: background-color 3s, color 3s;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  background-color: #007bff;
  border: 2px solid #007bff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  margin: 5px 5px;
}

.button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.button:focus {
  outline: none;
  background-color: rgba(86, 104, 169, 0.7);
}

.container {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 100px auto;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.cube {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.blink {
  animation: blinkAnimation 500ms;
}

@keyframes blinkAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.front {
  background-color: rgba(86, 104, 169, 0.7);
  transform: translateZ(100px);
}

.back {
  background-color: rgba(86, 104, 169, 0.7);
  transform: rotateY(180deg) translateZ(100px);
}

.right {
  background-color: rgba(86, 104, 169, 0.7);
  transform: rotateY(90deg) translateZ(100px);
}

.left {
  background-color: rgba(86, 104, 169, 0.7);
  transform: rotateY(-90deg) translateZ(100px);
}

.top {
  background-color: rgba(86, 104, 169, 0.7);
  transform: rotateX(90deg) translateZ(100px);
}

.bottom {
  background-color: rgba(86, 104, 169, 0.7);
  transform: rotateX(-90deg) translateZ(100px);
}

.logo {
  width: 100px;
  height: 100px;
  background-image: url("pic/icon-white.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
